<div class="container-fluid bg-dark" style="height:100vh">
    <!-- ROW 1 -->
    <div
      class="row bg-dark justify-content-between align-items-center sticky-top"
      style="height: 60px;">
      
      <div class="col-1 text-light"><button class="btn btn-outline-primary btn-sm btn-lg" (click)="tohomepage()">
        homepage</button></div>
    </div>
  
    <div class="row justify-content-center mt-1" style="height: 200px;">
        <div class="col  rounded d-flex justify-content-center align-items-center text-light">
            <h1 style=" font-family: 'Lucida Sans', sans-serif;color:rgb(27, 27, 27);font-size: 220px;letter-spacing: 10px;
            margin: 0px;font-weight: 700; text-shadow: 2px 2px 0px #8f2a2a, -2px -2px 0px #8d2323;
            ">4<span style="text-shadow: 2px 2px 0px #ffab00, -2px -2px 0px #ffab00, 0px 0px 8px #ff8700;">0</span>4</h1>
           <br> 
      </div>
  </div>
  <div class="row mt-4 d-flex justify-content-center align-items-center">
     <h2 style=" font-size:24px;font-weight: 400; color: cornsilk;">
        The page you are looking for is temporarily unavailable.</h2>
     
  </div>
  <div  class="row mt-5 d-flex justify-content-center align-items-center" 
       style="font-size: 14px; text-transform: uppercase; font-weight: 700;">
       <a routerLink="/signin" routerLinkActive="active">!!Back To Login!!</a>
   </div>
    
</div>

