<div class="container-fluid" style="height: 100vh; background:url(https://picsum.photos/id/1050/1100/1000?blur)
           ;background-repeat: no-repeat;background-position: center;background-size: cover;height: 100%;"
           class="container-fluid " ><!----div1 open---->
    <div class="row" style="height:170px;"></div>
     <div class="row d-flex justify-content-center" style="height:25rem;"><!----div2open---->
       <div class="col-12 col-md-3 bg-light" style="box-shadow: 0px 3px 7px 3px black;" ><!----div3 open---->
         <div class="row d-flex justify-content-center align-items-center" 
        style="height: 100px;font-style: italic; font-weight: bold;font-size: 20px;">  <!--sub div 3_1-->
        Forgot Password
     </div>
     <div class="row d-flex justify-content-center align-items-center"
        style="font-style: italic; font-weight: bold;font-size: 20px;"> <!--sub div 3_2-->
        Trouble Logging In ?
      </div>
      <div class="row d-flex justify-content-center align-items-center"
        style="height:50px;font-style: italic;font-size:15px;"> <!--sub div 3_3-->
        Enter your email or username and  we'll <br> 
        send you a link to get back into your account.
     </div>
     <div class="row d-flex justify-content-center flex-column mt-1" style="padding: 20px;"> <!--sub div 3_4-->
        <input type="text" placeholder="Enter Email or UserName" >
        <div class="row d-flex justify-content-center m-2"><button class="btn btn-outline-primary btn-sm btn-lg">
          Send Login Link</button>
       </div>
     </div>
     <div class="row mt-1 d-flex justify-content-center">
        <div class="col-5"><hr style="color:black"> </div>
        <div class="col-2 d-flex justify-content-center">OR</div>
        <div class="col-5"><hr style="color: black;"> </div>
     </div>
     <div>
        <div class="row d-flex justify-content-center m-2">Create New Account<a routerLink="/signup" routerLinkActive="active">sign up</a></div>
      </div>
      <div class="row d-flex justify-content-center m-2">!!Back to Login page!! <a routerLink="/signin" routerLinkActive="active">login</a></div> 
      <div><a routerLink="/resetpassword" routerLinkActive="active">resetpassword</a></div> 
    </div>
  </div><!----div2open---->
  </div><!----div1---->

